* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style: none;
  background-color: #f9f9f9;
}

h2 {
  font-size: large;
  text-align: center;
}

header {
  height: 60px;
  padding: 10px 40px;
  text-align: center;
}

header li {
  display: inline;
  padding: 0 10px;
}

.menu {
  width: 160px;
  height: 100%;
  position: fixed;
  left: 0;
  padding: 20px;
}

.menu h2 {
  display: block;
  margin-bottom: 25px;
}

.menu button {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  background-color: #676767;
  color: #f9f9f9;
  cursor: pointer;
}

.menu button:hover {
  background-color: #ede8e4;
  color: #5e5e5e;
}

.menu button:active {
  background-color: #b5c5c5;
}

main {
  background-color: #BFBFBD;
  margin-left: 200px;
}


aside {
  width: 200px;
  height: 100%;
  background-color: aqua;
  position: fixed;
  right: 0;
  top: 80px;
  padding: 20px;
}



.content {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dado {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  animation: girar 10s ease-in-out alternate infinite;
}

.cara {
  width: 200px;
  height: 200px;
  position: absolute;
  backface-visibility: hidden;
}

.c1 {
  transform: translateZ(100px);
}

.c2 {
  transform: rotateY(90deg) translateZ(100px);
}

.c3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px)
}

.c4 {
  transform: rotateX(180deg) rotateZ(-90deg) translateZ(100px);
}

.c5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.c6 {
  transform: rotateX(-90deg) translateZ(100px) rotateZ(-90deg);
}


@keyframes girar {
  0% {
    transform: none;
  }

  13%,
  16.6% {
    transform: rotateY(-90deg);
  }

  301%,
  33.33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  46%,
  49.999% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  63%,
  66% {
    transform: rotateY(90deg);
  }

  80%,
  83% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  97%,
  100% {
    transform: none;
  }
}

.cara1 {
  content: url("../img/c1.png");
}

.cara2 {
  content: url("../img/c2.png");

}

.cara3 {
  content: url("../img/c3.png");

}

.cara4 {
  content: url("../img/c4.png");

}

.cara5 {
  content: url("../img/c5.png");

}

.cara6 {
  content: url("../img/c6.png");

}

.cara-tabla {
  width: 20px;
}