table caption, table {
    border: 1px solid black;
}

table {
    margin: 10px;
}

.tablas {
    display: block;
}

body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #333;
    background-color: rgb(255, 255, 255);
  }
  
#contenedor{
    float: right;
}
.banner_img{
    float: right;
}
.banner_img{
    float: right;
    width: 1000px;
    height: 500px;
    display: block;
    
}

.banner_img .tablero {
    float: left;
    animation: tablero 2s linear infinite;

}

.banner_img .dart{
    width: 50px;
    height: 50px;
    float: left;
    animation: dardo .7s linear infinite;
}
.dart img {
    width: 300px;
    height: 300px;
}

#punto {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
  }  

@keyframes tablero {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(10px);
    }
    
}

@keyframes dardo {
    0%{
        transform: translateX(30px);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform: translateX(30px);
    }
    
}
